.Body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url("sky2.jpg");
    animation: bg 10s linear infinite;
    background-size: cover;
    background-position: center;
    filter: saturate(1.1);
    background-repeat: no-repeat;

}

.Container {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    outline: none;
    border: none;
    min-height: 800px;
}

.subTitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 40px 0;
    text-align: center;
    color: #fffdfd;
    font-style: italic;
    font-family: "Lucida Console", "Courier New";
}
.helper-text{
    color:#727272;
    font-size: 10px;
    text-align: start;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-right: auto;
}

.Container a {
    color: #727272;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.Container button {
    background: #150044;
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin: 10px 0;
}

.Container form {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.Input {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-weight: normal;
    color: #1e0064;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.error{
    outline: 2px solid #9d0000;
}
.Input.error:focus{
    outline: 2px solid #9d0000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.Input:focus {
    background: #fff;
    outline: 1px solid #150044;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.Container label{
    color: #888888;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: capitalize;
    margin-right: auto;
}




.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.Container.active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

@keyframes move {

    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.Container.active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

.social-container {
    margin: 20px 10px;
}

.social-container a {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-container a:hover {
    transform: translateY(-3px);
    transition: all 0.3s;
    background: #d5d4d4;
}

.social-icon {
    font-size: 20px;
    color: #1e0064;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    border-radius: 100px 0 0 100px;
}

.Container.active .overlay-container {
    transform: translateX(-100%);
    border-radius: 0 100px 100px 0;
}

.overlay {
    background-image: url("./first.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: #000000;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    border: none;
    outline: none;
    background-position: center;

}

.Container.active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-200%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.Container.active .overlay-left {
    transform: translateX(0);
}

.Container.active .overlay-right {
    transform: translateX(200%);
}
.text-error{
      color: #9d0000;
        font-size: 10px;
        text-align: start;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin-right: auto;
}














