.custom-button {
    color: #be5b01; /* Text color */
    border-color: #be5b01; /* Border color (change to your desired color) */
    width: 50%;
    margin-top: 1%;
    /*box-shadow: 2px 2px 4px #be5b01;*/
    /*transition: box-shadow 0.3s ease; !* Add transition effect *!*/
}
.custom-button:hover {
       box-shadow: 0 0 10px #be5b01; /* Add shadow when the component is hovered */
}