/** {*/
/*    box-sizing: border-box;*/
/*}*/

.body{
    background-image: url("./image2.png");
    background-size: cover;
    background-position: center;
    filter: saturate(1.1);
    background-repeat: no-repeat;
    font-family: "Times New Roman", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.container{
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    text-align: center;
}

.code{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.codeInput{
    caret-color: transparent;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    border: 1px solid #eee;
    font-size: 30px;
    font-family: "Times New Roman", sans-serif;
    width: 75px;
    height: 80px;
    margin:10px;
    text-align: center;
    font-weight: 300;
}

.codeInput::-webkit-outer-spin-button,
.codeInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.codeInput:valid{
    border-color: #6495ED;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.25);
}
.btn{
    font-family: "Times New Roman", sans-serif;
    min-width: 400px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    virtical-align: middle;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    margin: 0px 0px 20px 0px;
    padding: .775rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}
.btn-primary{
    color: #fff;
    background-color: #6495ED;
    border-color: #185df3;
}
