/** {*/
/*    box-sizing: border-box;*/
/*}*/

.body{
    background-image: url("./pexels-elina-volkova-16366943.jpg");
    background-size: cover;
    background-position: center;
    filter: saturate(1.1);
    background-repeat: no-repeat;
    font-family: "Times New Roman", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.code{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.codeInput{
    caret-color: transparent;
    background-color: rgba(255,255,255,0.6);
    border-radius: 40px;
    border: 1px solid #eee;
    font-size: 40px;
    font-family: '"Lucida Console", "Courier New", monospace';
    width: 70px;
    height: 70px;
    margin:10px;
    text-align: center;
    font-weight: 300;
}

.codeInput::-webkit-outer-spin-button,
.codeInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.codeInput:valid{
    border-color: #176B87;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.25);
}

