.shelter-container {
    /* Updated class name */
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-image: url("./aa.png"); /* Updated image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.shelter {
    /* Updated class name */
    padding: 5px;
    width: 600px;
    height: 450px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.shelter-header {
    /* Updated class name */
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.shelter-header-center {

    /* Updated class name */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

.shelter-header-center .Shelter-Name {
    /* Updated class name */
    font: 700 1.5rem 'Roboto', sans-serif;
}

.shelter-header-center span {
    /* Updated class name */
    display: inline;
    font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
}

.shelter-body {
    /* Updated class name */
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 280px;
    overflow-y: auto;
    padding-bottom: 15px;
    border: 2px solid #0c0c0c;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: #ffffff;
}

.shelter-title {
    /* Updated class name */
    width: 100%;
    margin-top: 12px;
    margin-bottom: 11px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.shelter-desc-label {
    /* Updated class name */
    font: 700 1.5rem 'Arial', sans-serif;
    text-align: center;
    color: #ffffff;
}

.shelter-body .shelter-button {
    /* Updated class name */
    width: 100%;
    height: 50px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shelter-body .text {
    /* Updated class name */
    font: 600 1.2rem 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
}

.shelter-description {
    /* Updated class name */
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font: 600 1.2rem 'Roboto', sans-serif;
    color: #ffffff;
}
