.my-error-message {
    height: 50px;
    width: 500px;
    text-align: center;
}

.slide-fade-container {
    z-index: 500;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s ease;
    opacity: 0;
}

.slide-fade-container.visible {
    bottom: 20px;
    opacity: 1;
}
