.apply{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(77,71,81,.2);
    box-shadow: 0 1px 3px rgba(77,71,81,.2);
    background-color: #6504b5;
    padding: 20px;
    margin: 20px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: inherit;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.ghost{
    border-color: #fff;
    background-color: #fff;
    color: #6504b5;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(77,71,81,.2);
    box-shadow: 0 1px 3px rgba(77,71,81,.2);
    margin-top: 5%;
    align-content: center;
    text-align: center;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
}
