.my-tab {
    width: 33.333333333333%;
    text-align: center;
}

.my-tabs {
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.1), 0px -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}

.active-tab-shadow {
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.1);
}