@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.signUpComponentDiv {
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start; /* Center horizontally within the form */
    background-repeat: no-repeat; /* Set background image to repeat */
    background-size: cover; /* Set background image to cover the entire container */
    /*font-family: 'Kalam', cursive;*/
    background-image: url("../LogIn/wp12412506.jpg");
}

.inputDiv {
    width: 70%;
}

.signUpComponentDiv form {
    margin-top: 1rem;
    margin-left: 10%;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically within the form */
    align-items: center; /* Center horizontally within the form */
    border-radius: 20px;
}

.signUpComponentDiv form div {
    margin: 10px 10px 5px 0px;
}

.signUpComponentDiv form div input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    /*font-family: 'Kalam', cursive;*/
}

.signUpComponentDiv form div input:focus {
    border-bottom: 1px solid #00b4d8;
}

.signUpComponentDiv h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.signUpComponentDivLabel {
    margin-top: 1rem;
    margin-left: .5rem;
    font-size: 20px;
    font-weight: 600;
}

.signUpComponentDiv a {
    text-decoration: none;
    color: steelblue;
    font-size: 16px;
    font-weight: 600;
    margin: .5rem;
}

.signUpComponentDiv button {
    margin-top: 1rem;
    text-align: center;
    width: 25%;
    cursor: pointer;
}


.signUpComponentDiv a:hover, .loginComponentDiv a:focus {
    color: #00b4d8;
}

.signUpComponentDiv a:active {
    color: darkblue;
}